api/soap/ePackage.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://disim.it/univaq/sose/autogenerated/epackage" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://disim.it/univaq/sose/autogenerated/epackage" targetNamespace="http://disim.it/univaq/sose/autogenerated/epackage">
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://disim.it/univaq/sose/autogenerated/epackage">
         <xs:element name="getPackageRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="packageId" type="xs:long"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPackageResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="name" type="xs:string"/>
                  <xs:element name="createBy" type="xs:string"/>
                  <xs:element name="uri" type="xs:string"/>
                  <xs:element name="description" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getPackageRequest">
      <wsdl:part element="tns:getPackageRequest" name="getPackageRequest"> </wsdl:part>
   </wsdl:message>
   <wsdl:message name="getPackageResponse">
      <wsdl:part element="tns:getPackageResponse" name="getPackageResponse"> </wsdl:part>
   </wsdl:message>
   <wsdl:portType name="EPackagePort">
      <wsdl:operation name="getPackage">
         <wsdl:input message="tns:getPackageRequest" name="getPackageRequest"> </wsdl:input>
         <wsdl:output message="tns:getPackageResponse" name="getPackageResponse"> </wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EPackagePortSoap11" type="tns:EPackagePort">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getPackage">
         <soap:operation soapAction=""/>
         <wsdl:input name="getPackageRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getPackageResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EPackagePortService">
      <wsdl:port binding="tns:EPackagePortSoap11" name="EPackagePortSoap11">
         <soap:address location="http://localhost:9010/ws"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>